<!DOCTYPE html>
<html>
  <head>
    <title>Yelp in the dark</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <nav class="navbar navbar-inverse bg-primary">
        <%= link_to 'YelpInTheDark', root_path, class: 'navbar-brand' %>
        
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
          <li class="nav-item active">
            <%= link_to 'New_Place', new_place_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </nav>

  <% if notice.present? %>
    <p class="alert alert-info"><%= notice %></p>
  <% end %>
  <% if notice.present? %>
    <p class="alert alert-danger"><%= alert %></p>
<% end %>

  <div class="container-fluid">
    <%= yield %>
  </div>

  </body>
</html>
